header{
    background-color: #25283D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    .site-nav{
        margin-top: auto;
        padding: 1rem;
    }
    img{
        width: 100px;
        margin-left: 5.5rem;
    }
}