header{
    background-color: #25283D;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .site-logo{
        width: 75px;
        margin-left: 2rem;
    }
}