
    .browse-by{
        padding: 0;
        }
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                &:visited{
                    color: white;
            }
            }
            
        }
