
    .browse-by{
        width: fit-content;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        background-color: #25283D;
        border-radius: 2.5rem;
        color: white;
        }
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                &:visited{
                    color: white;
            }
            }
            
        }
