@use 'variables' as *;

.browse-by{
    display: flex;
    justify-content: center;
    background-color: #25283D;
    padding: .5rem;
    width: 290px;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 40px;
    margin-bottom: 5rem;
    border: 3px solid $greenColor;
    
    .facet-link{
        list-style: none;
        padding: .3rem;      
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: 700;
        &:visited{
            color: white;
        }
        &:focus{
            color: #0CCE6B;
        }
    }
    @media (min-width: 600px) {
            width: 380px;
            
        .facet-link{
            padding-right: 1rem;
        }
        a{
            font-size: 1rem;
        }
        
    }
}



    
