@use 'variables' as *;

.movies-container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .movie-card{
        width: 200px;
        margin: 1rem;
        height: 370.740px;
    }

    @media (min-width: 750px) {
        margin-right: 8rem;
        margin-left: 8rem;
        // .movie-card{
        //     width: 140px;
        // }
        
    }


}

// Movie card styling || Mobile View

.movie-card{
    .movie-poster{
        position: relative;
        overflow: hidden;
    }
    .movie-info{
        text-shadow: 4px 3px 8px rgba(37,40,61, 1);
        color: $greenColor;
        position: relative;
        text-align: center;
        font-size: 1.5rem;
        bottom: 1.5rem;
        z-index: 100;
    }
    .on-hover{
        font-size: .7rem;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        z-index: 1;
        top: 0;
        bottom: 0rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr), 1rem;
        .hover-link{
            color: white;
            height: 25px;
            padding: 4px;
            font-size: 1rem;
            text-decoration: none;
            margin: .3rem 2.5rem ;
            padding: 0;
            background-color: $greenColor;
            border-radius: 20px;
        }
        .hover-title{
            font-size: 1.3rem;
            text-shadow:  3px 3px 7px #000000;
            margin: 5px;
        }
        .hover-date{
            font-size: 1rem;
        }
        .hover-overview{
            margin: 10px;
        }
    }
}
//         @media (min-width:750px) {
//             .hover-title{
//                 font-size: .8rem;
//                 margin: 10px;
//             }
//             .hover-overview{
//                 font-size: .5rem;
//             }
//             .hover-link{
//                 font-size: .6rem;
//             }
//             .hover-date{
//                 font-size: 0.7rem;
//                 padding-bottom: 2rem;
//             }
//         }


//     }
//     @media (min-width:750px) {
//         .movie-card{
//             margin: 0;
//         height: 188px;
//         }
        
//         .movie-info{
//             bottom: 1.3rem;
//             font-size: 1.2rem;
//         }
//     }
// }
