.site-nav{
    margin-right: 2rem;
    .nav-ul{
        display: flex;
        padding: 0;
        li{
            list-style: none;
            color: white;
            padding: 1rem;
            a{
                text-decoration: none;
                &:visited{
                    color: white;
                }
                &:focus{
                    color: #0CCE6B;
                }
            }
            
        }
       
    }
}

.burger-menu{
    display: none;
    z-index: 100;
}

@media (max-width: 720px) {
    .burger-menu{
        display: fixed;
        
    }
}