.site-nav{
    margin-right: 2rem;
    visibility: hidden;
    transition: height 0.5s ease, visibility 0s 0.5s;

    .show & {
        transition: height 0.5s ease, visibility 0s;
        visibility: visible;
        height: 254px;
    }
    .nav-ul{
        display: flex;
        padding: 0;
        li{
            list-style: none;
            color: white;
            padding: 1rem;
            a{
                text-decoration: none;
                &:visited{
                    color: white;
                }
                &:focus{
                    color: #0CCE6B;
                }
            }
            
        }
       
    }

    @media (min-width: 750px){
        height: auto;
        visibility: visible;
        transition: none;

        .show & {
            transition: none;
            height: auto;
        }
        
        .nav-ul {
            display: flex;
        }

        li {
            flex: 1;
        }

        a {
            padding: 0;
            text-align: center;
            border-top:  none;
            @at-root .main-nav li:not(:first-child) a {
                border-top: none;
                border-left: 3px solid grey;
            }
        }

    }

}


