.site-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5.5rem;
    .nav-ul{
        list-style: none;
        display: flex;
        margin: 1rem;
        justify-content: space-between;
    }
    li{
        padding: 1rem;
        img{
            width: 12px;
            margin-left: 1rem;
            padding: 0;
        }
        a{
            color: white;
            text-decoration: none;
            display: block;
            text-align: center;
        &:visited{
            color: white;
        }
        &:focus{
            color: #0CCE6B;
        }
        }
        
    }
}

@media (max-width: 510px) {
    .nav-ul{
        visibility: hidden;
    }
}